*/**/bin
*/bin
*/gen
*/**/gen
.classpath
*/**/.classpath
.project
*/**/.project
*.class
*.dex
*.apk
*/**/*DSStore
*/**/.settings
*/.settings
*~
*/**/target/
*/target/
target
.checkstyle
*/**/.checkstyle
httpservice/tmp
.apk
.ap_
bin
.settings
**/project.properties
**/libs/*

